# Conexão com o MongoDB.
# Local (docker-compose):
MONGO_URI=mongodb://localhost:27017
# Produção (MongoDB Atlas) — exemplo:
# MONGO_URI=mongodb+srv://user:pass@cluster.xxxxx.mongodb.net/?retryWrites=true&w=majority

MONGO_DB=project-game

# Porta da aplicação (onrender injeta automaticamente).
PORT=3000
